[submodule "external/boost-cmake"]
	path = external/boost-cmake
	url = https://github.com/Orphis/boost-cmake.git
[submodule "external/vsomeip"]
	path = external/vsomeip
	url = https://github.com/nkh-lab/vsomeip.git
[submodule "external/capicxx-core-runtime"]
	path = external/capicxx-core-runtime
	url = https://github.com/nkh-lab/capicxx-core-runtime.git
[submodule "external/capicxx-someip-runtime"]
	path = external/capicxx-someip-runtime
	url = https://github.com/nkh-lab/capicxx-someip-runtime.git
[submodule "external/logger"]
	path = external/logger
	url = https://github.com/nkh-lab/logger.git
[submodule "external/genivi-capi-someip-examples"]
	path = external/genivi-capi-someip-examples
	url = https://github.com/nkh-lab/genivi-capi-someip-examples.git
